* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root {
    width: 895px;
    margin: 0 auto;
    color: #00b4fa;
}

hr {
    border-top: 5px solid #e2f1fd;
    border-bottom: 1px solid #eeeeee;
    margin: 20px 0;
}

.hidden {
    display: none;
}

#todo__heading h1 {
    text-align: center;
    padding: 15px 0;
}

.todo__add-form {
    display: flex;
}

input[type=text] {
    border: 1px solid #c6d0d7;
    border-radius: 3px;
}

input[type=text]::placeholder {
    font-size: 12px;
}

.todo__add-form input[type=text] {
    flex-grow: 1;
    padding: 18px;
}

.todo-item {
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.todo__action {
    position: relative;
}

input[type=checkbox] {
    width: 22px;
    height: 22px;
    border: 1px solid #aaaaaa;
    position: relative;
    top: 6px;
    margin-right: 3px;
}

.edit-form input[type=text] {
    padding: 10px 15px;
    width: 300px;
}

/* icons */

.btn-disabled {
    cursor: default;
    color: #c6d0d7;
}

.icon, .btn-enabled {
    cursor: pointer;
    color: #7fc3f1;
}

#add-box-icon {
    font-size: 50px;
    margin: 0 15px;
}

#edit-icon {
    font-size: 27px;
    position: relative;
    top: 7px;
    left: 5px;
}

#delete-icon {
    align-self: flex-end;
    padding-right: 10px;
    font-size: 30px;
    position: relative;
    top: 5px;
}

#save-icon {
    font-size: 27px;
    position: relative;
    top: 8px;
    left: 5px;
}









