* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix,
article::after,
.news-container::after {
    content: '';
    display: table;
    clear: both;
}

body {
    background-color: #000;
}

.page-wrap {
    width: 900px;
    margin: 0 auto;
    font-family: 'Open Sans';
}

.container {
    margin: 0 38px;
}

.page-header {
    color: #fff;
    background-image: url('../img/sample2.jpg');
    background-repeat: no-repeat;
    background-size: 1120px;
    background-position: -110px 0;
}

.header_top {
    padding-top: 30px;
    font-size: 0.65em;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.header_leftside {
    text-transform: uppercase;
    letter-spacing: 0.22em;
    align-self: flex-start;
}

.header_rightside {
    align-self: flex-end;
}

.header_rightside #login {
    padding-right: 40px;
}

.header_rightside span:hover {
    cursor: pointer;
    text-decoration: underline;
}

.header_center {
    text-align: center;
}

.header_center-top {
    text-transform: uppercase;
    font-size: 2.3em;
    letter-spacing: 0.17em;
    padding-top: 150px
}

.header_center-top span {
    font-size: 1.8em;
}

.header_center-bottom {
    font-size: 0.66em;
}

.header_nav-container {
    width: 715px;
    margin: 130px auto 85px auto;
}

.header_nav a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    height: 41px;
    line-height: 37px;
    text-align: center;
    border: 2px solid #fff;
    font-size: 0.7em;
}

.header_nav a:nth-child(1) {
    width: 159px;
    margin-right: 110px;
}

.header_nav a:nth-child(2) {
    width: 149px;
    margin-right: 110px;
}

.header_nav a:nth-child(3) {
    width: 175px;
}

.header_nav a:hover {
    transition: all 0.4s ease 0.05s;
    background: #fff;
    color: #000;
}

.skewed-top {
    height: 165px;
    background-color: #000;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
}

.skewed-top p {
    float: right;
    width: 44.7%;
    color: #fff;
    margin-right: 36px;
    font-size: 0.66em;
}

.skewed-bottom {
    height: 165px;
    background-color: #f3f3f3;
    color: #000;
    clip-path: polygon(0 0, 0 100%, 100% 100%);
    margin-top: -165px;
}

.skewed-bottom p {
    float: left;
    width: 30%;
    margin-left: 36px;
    font-size: 0.837em;
    margin-top: 75px;
}

/* articles */

section.articles {
    background-color: #f3f3f3;
    padding-bottom: 35px;
}

article,
.news__thumb {
    font-size: 0.66em;
}

article {
    margin-bottom: 10px;
}

.articles h2 {
    font-weight: 400;
    font-size: 1.14em;
    text-align: center;
    padding-bottom: 25px;
}

.articles h2 b {
    font-weight: 600;
}

.article-pic img {
    min-width: 411px;
    max-width: 411px;
    min-height: 223px;
    max-height: 223px;
}

.article-text p {
    text-align: center;
    padding-bottom: 35px;
}

.article-text p:last-child {
    padding-bottom: 0;
}

article:nth-child(even) .article-pic,
article:nth-child(odd) .article-text {
    width: 49.7%;
    float: left;
}

article:nth-child(even) .article-text,
article:nth-child(odd) .article-pic {
    width: 49.8%;
    float: right;
}

article:nth-child(even) .article-text {
    padding: 18px 3px 5px 65px
}

article:nth-child(odd) .article-text {
    padding: 18px 65px 5px 3px;
}

.article-pic,
.article-pic img {
    position: relative;
}

.pic_likes {
    width: 44px;
    height: 24px;
    line-height: 22px;
    font-size: 0.95em;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.pic_likes,
.news__thumb {
    color: #fff;
}

.article-pic__likes {
    position: absolute;
    top: 15px;
    right: 15px;
}

.article-pic__info {
    color: #fff;
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.article-pic__info .pic-country {
    font-weight: 600;
}

/* news */

.news-container {
    padding: 28px 48px 26px 48px;
    position: relative;
    width: 100%;
}

section.news {
    background-color: #fff;
    min-height: 352px;
}

.news .news__thumb {
    width: 170px;
    height: 223px;
    float: left;
    margin-right: 41px;
    font-size: 0.65em;
}

.news .news__thumb:nth-child(1) {
    background-image: url('../img/news-list-1.jpg');
    background-size: 210%;
}

.news .news__thumb:nth-child(2) {
    background-image: url('../img/news-list-2.jpg');
    background-size: 195%;
}

.news .news__thumb:nth-child(3) {
    background-image: url('../img/news-list-3.jpg');
    background-size: 245%;
}

.news .news__thumb:nth-child(4) {
    background-image: url('../img/news-list-4.jpg');
    background-size: 285%;
}

.news .news__thumb:nth-child(4n) {
    margin-right: 0;
}

.news__thumb .pic_likes {
    position: relative;
    left: 110px;
    top: 15px;
}

.news__thumb_link {
    position: relative;
    top: 75px;
    font-weight: 700;
    width: 90%;
    height: 25px;
    line-height: 25px;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(9, 119, 116, 0.8);
}

.news__thumb_info {
    position: relative;
    top: 146px;
    left: 15px;
}

.news-container button {
    border: none;
    outline: none;
    cursor: pointer;
    width: 225px;
    height: 37px;
    font-size: 0.66em;
    margin-left: 290px;
    color: #fff;
    background-color: #097774;
    margin-top: 40px;
}

.news-container button:focus {
    box-shadow: inset 0px 0px 4px 0px #073433;
    position: relative;
    top: 1px;
    left: 1px;
}
