@import "variables";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    display: flex;
    text-align: center;
    background-color: #edf8fe;
    font-family: 'Lucida Sans Unicode', sans-serif;
    user-select: none;
}

.heading::selection, img::selection, button::selection, div::selection {
    background: none;
}

h1 {
    font-size: 1.9em;
}

.heading {
    color: $main-color;
}

.game {
    margin: auto;
}

.game__rules--img {
    width: 380px;
}

button {
    margin-bottom: 15px;
}

.game__status {
    width: 415px;
    position: relative;
    left: -10px;
    height: 150px;
    margin: auto;
    border: 2px dashed black;
    padding: 15px;
}

.btn {
    margin-right: 15px;
    overflow: hidden;
    width: $btn-size;
    img {
        height: $btn-size;
        margin-top: 5px;
    }
    &-rock {
        img {
            margin-left: -5px;  
        }
    }
    &-paper {
        img {
            margin-left: -120px;
        }
    }
    &-scissors {
        img {
            margin-left: -237px;
        }
    }
    &-reset {
        width: 415px;
        height: 25px;
        margin-left: -5px;
    }
}