body {
    text-align: center;
    font-family: 'Lucida Sans Unicode', sans-serif;
}

.hidden {
    display: none;
}

button {
    margin-top: 15px;
    padding: 5px 10px;
    font-weight: bold;
    background-color: #fff;
    color: rgb(177, 17, 17);
    border: 2px solid rgb(177, 17, 17);
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #f1f1f1;
}

button:active {
    position: relative;
    top: 1px;
    left: 1px;
}

#btn-fetch-data {
    margin-bottom: 15px;
}

.user {
    display: flex;
    justify-content: center;
    flex-basis: 300px;
}

.user__id {
    padding-right: 3px;    
    color: rgb(172, 23, 23);
    font-weight: bold;
}

.user__username {
    color: rgb(42, 11, 126);
    cursor: pointer;
}

#edit-icon, #save-icon, #delete-icon {
    padding-left: 5px;
    color: rgb(177, 17, 17);
    cursor: pointer;
}

#save-icon, #delete-icon {
    display: none;
}

.download-error {
    position: absolute;
    z-index: 11;
    top: 0;
    left:0;
    right: 0;
    font-family: Consolas;
    font-size: 30px;
    line-height: 35px;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    visibility: hidden;
    text-align: center;
}
  
.download-error__message {
    flex-grow: 97;
}
  
.download-error__close {
    font-family: 'monospace';
    flex-grow: 3;
    transform: rotate(45deg);
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

/* post */ 

.post-container {
    background-color: #f1f1f1;
    margin-top: 20px;
    padding: 25px;
    position: relative;
}

.user__post {
    float: left;
    text-decoration: underline; 
    padding-bottom: 15px;
}

.user__comment {
    float: right;
    font-style: italic;
    padding-left: 100px;
}

.post__avatar {
    width: 100px;
    height: 75px;
    border-radius: 50%;
    position: absolute;
    top: 60px;
    left: 20px;
}

.post-container::after {
    content: '';
    display: table;
    clear: both;
}

