* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: $bg-body;
    min-width: 800px;
}

@mixin underline($margtop, $width, $margleft: 0, $height: 16px) {
    content: '';
    background-color: $underline-color;
    position: absolute;
    z-index: -10;
    margin-left: $margleft;
    margin-top: $margtop;
    width: $width;
    height: $height;
}

.logo {
    width: 165px;
    height: 55px;

    img {
        float: left;
        padding-right: 17px;
        width: 55px;
        height: 55px;
    }

    p {
        color: $header-color;
        font-weight: map-get($font-weights, 'semibold');
        font-size: 1.85em;
        line-height: 1.2em;
        letter-spacing: 0px;
        font-family: map-get($fonts, 'logo-font'), sans-serif;

        span {
            display: inline-block;
            font-size: 0.45em;
            padding-left: 9px;
            position: relative;
            top: -1.2em;

            @if $theme=='night' {
                padding-left: 5px;
            }
        }
    }
}

.button {
    font-family: map-get($fonts, 'large-font'), sans-serif;
    border: none;
    width: 178px;
    height: 60px;
    background-color: $btn-color;
    color: #fff;
    font-size: 1.3em;
    font-weight: map-get($font-weights, 'semibold');
    border-radius: 3px;
    cursor: pointer;

    &:hover {
        background-color: lighten($btn-color, 2%);
    }

    &:focus {
        box-shadow: $btn-focus-shadow;
        outline: none;
        position: relative;
        top: 1px;
        left: 1px;
    }
}

.header-wrap {
    color: $header-color;
    background-image: $bg-image;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 875px;
    max-height: 875px;
    padding: 25px 10% 0 10%;
    border-bottom-right-radius: 43%;

    .landing-logo {
        @extend .logo;
    }

    .header_heading {
        font-family: map-get($fonts, 'large-font'), sans-serif;
        font-size: 5.6em;
        font-weight: map-get($font-weights, 'bold');
        width: 650px;
        line-height: 1em;
        margin-top: 91px;
        position: relative;
        z-index: 10;

        &::before {
            @include underline($margtop: 147px, $width: 378px, $height: 30px);
        }
    }

    .header_text {
        white-space: pre-line;
        margin-top: 45px;
        font-size: 1.25em;
        line-height: 1.5em;
        font-family: map-get($fonts, 'regular-font'), sans-serif;
        margin-bottom: 80px;
    }

    .header_button {
        @extend .button;
    }
}

.section {
    margin: 55px auto 0 auto;
    max-width: 1535px;
}

.section_text {
    color: $header-color;
    font-family: map-get($fonts, 'large-font'), sans-serif;
    font-weight: map-get($font-weights, 'semibold');
    font-size: 3.4em;
    position: relative;
    z-index: 10;
    text-align: center;
    padding-bottom: 45px;

    &::before {
        @include underline($margtop: 42px, $width: 244px, $margleft: 280px);
    }
}

.section_card_wrap {
    display: flex;

    .section_card {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $bg-content;
        padding: 1.63%;
        padding-bottom: 0;
        border-radius: 7px;
        margin-right: 1.8%;

        &:last-child {
            margin-right: 0;
        }

        img {
            width: 100%;
            max-height: 54.4%;
            border-radius: 7px;
        }

        .section_card_heading {
            font-family: map-get($fonts, 'large-font'), sans-serif;
            font-weight: map-get($font-weights, 'semibold');
            color: #fff;
            font-size: 1.85em;
            padding-top: 16px;
            padding-bottom: 15px;
            text-align: center;

            span {
                display: block;
                height: 16px;
                margin-top: -16px;
                background-color: $underline-color;
            }
        }

        .section_card_text {
            font-family: map-get($fonts, 'regular-font'), sans-serif;
            color: $block-txt-color;
            font-size: 1.2em;
            text-align: center;
            align-content: center;
            line-height: 1.6em;

            @if $theme=='night' {
                font-size: 1.25em;
                line-height: 1.5em;
            }
        }
    }
}

.section_banner {
    max-width: 1200px;
    margin: 0 auto;
    height: 180px;
    background: $grad;
    border-radius: 7px;
    display: flex;
    margin-top: 175px;

    .section_banner_text_wrap {
        padding-left: 10.8%;
        display: flex;
        flex-direction: column;
        margin-right: 9%;

        .section_banner_heading {
            font-family: map-get($fonts, 'large-font'), sans-serif;
            font-weight: map-get($font-weights, 'bold');
            color: $header-color;
            font-size: 2.45em;
            flex: 1;
            position: relative;
            z-index: 10;
            padding-top: 30px;

            &::before {
                @include underline($margtop: 29px, $width: 80px, $margleft: 158px);
            }
        }

        .section_banner_text {
            font-family: map-get($fonts, 'regular-font'), sans-serif;
            color: $block-txt-color;
            flex: 1;
            font-size: 1.3em;
        }
    }

    .section_banner_button {
        @extend .button;
        margin: auto;
    }
}


.footer {
    height: 300px - 170px;
    background-color: $bg-content;
    color: #c0c3ce;
    padding: 170px 10% 0 10%;
    margin-top: -90px;
    position: relative;
    z-index: -10;
}

.footer-wrap {
    .footer_logo {
        @extend .logo;
        float: left;

        p {
            color: $block-txt-color;
        }
    }

    .footer_text {
        float: left;
        font-size: 1.1em;
        letter-spacing: 0px;
        line-height: 1.45em;
        max-width: 25%;
        margin-left: 24.5%;
    }

    .footer-cr {
        float: right;
        font-size: 1.25em;
    }

    .footer_text,
    .footer-cr {
        font-family: map-get($fonts, 'regular-font'), sans-serif;
    }
}

@media(max-width:1200px) {
    .footer-wrap .footer_text {
        margin-left: 12.5%;
    }
}

@media(max-width:975px) {
    .footer-wrap .footer_text {
        margin-left: 6.25%;
    }

    .footer-wrap .footer_text {
        font-size: 0.8em;
    }
}
