$fonts:('logo-font': 'Source Sans Pro', 'large-font': 'Source Sans Pro', 'regular-font': 'Hind');
$font-weights: ('regular': 400, 'semibold': 600, 'bold': 700);

$bg-body: #fff;
$bg-image: url('../img/m-h-day.jpg');
$underline-color: #14a0c7;
$btn-color: #699900;
$header-color: #2c2f3c;
$bg-content: #21232e;
$block-txt-color: #c0c3ce;
$grad: linear-gradient(to right, #639313, #2d5bd9);
$btn-focus-shadow: inset 0px 0px 4px 0px rgba(47, 65, 8, 0.7);
$theme: 'day';
