$fonts:('logo-font': 'Fresca', 'large-font': 'Source Sans Pro', 'regular-font': 'Fresca');
$font-weights: ('regular': 400, 'semibold': 600, 'bold': 700);

$bg-body: #21232e;
$bg-image: url('../img/m-h-night.jpg');
$underline-color: #ff4e33;
$btn-color: #e3ac00;
$header-color: #fff;
$bg-content: #3b3f50;
$block-txt-color: #c0c3ce;
$grad: linear-gradient(to right, #dca107, #932d52);
$btn-focus-shadow: inset 0px 0px 4px 0px rgba(87, 68, 8, 0.7);
$theme: 'night';
